/*
Collaborative Campaign Tool
GRAVITEAM by SPACEBUFFS

Chris Acuna, Heather Dykstra, Sierra Flynn, Semere Ghebrecristos, Hope Sanford, Josh Weaver

CCT.css is the main css page layouts. Please edit this when you want to adjust the main layouts.

Version 2.01
1/25/2015
*/
/* CSS declarations go here */
/* The login menu has to be set at a specific height and I chose to center mine. */


/* CSS declarations go here */
/* Font stach*/ 
body,input,select,textarea {
  font-family:"HelveticaNeue-Light","HelveticaNeue-Light","Helvetica Neue", Helvetica,Arial,
  "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.5;
}

/* Base Layout*/

html{
   background-color: aliceblue;
   background-image: -moz-linear-gradient(center top, #aaa, #ddd);
   background-image: -webkit-gradient(linear,left top. left bottom, color-stop(0, #aaaaaa),color-stop(1,#ddd));
   background-repeat: no-repeat;
   height: 100%; 
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing: border-box;

}

html.no-cssgradients{
  border-color: #aaa;
}
html*{
  margin: 0;
}

body {
  background:#ffffff;
  color: #333333;
  margin: 0 auto;
  max-width: 85%;
  overflow-x:hidden; 
  -moz-box-shadow: 0 0 0.3em #255b17;
  -webkit-box-shadow: 0 0 0.3em #255b17;
}

.header {
    border-bottom:1px solid #eaeaea;
}

.header a {
    display: block;
    background-image: url("JPL.jpg");
    border-bottom: double 3px #aba;
    border-left: solid 1px #9a9;
    border-right: solid 1px #565;
    border-top: solid 1px #9a9;
    font: italic normal 230% 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    margin: 10px;
    padding: 15px 10px 15px 60px;
  
}

.content {
  border-bottom: 1px solid #CCCCCC;
  margin: 1.5em;
}
.nav{
  background-color: #99CCCC;
  padding: 0.5em 0.75;
  -moz-box-shadow: 0 0 3px 1px #aaaaaa;
  -webkit-box-shadow:0 0 3px 1px #aaaaaa;
  box-shadow: 0 0 3px 1px #aaaaaa
}

#login_form{
  display: inline-block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.main_container{
  width:1000px;
  margin: auto;
  margin-top: 100px;
  background-color: white;

}

#home_image{
  display: inline-block;
  width: 500px;
  vertical-align: top;

}

#home_description{
  display: inline-block;
  width: 340px;
  padding: 20px;

}

#img_header {
  background-color: #003366;

}

#img_header a {

  display: inline-block;
  margin: 1.5em;
}
#signUpForm.dropdown-menu {
  display: block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  color: red;
}

#signUpForm #login-dropdown-list {
  display: block;
}

/* Hides the toggle that you click on */

#signUpForm a.dropdown-toggle {
  display: none;
}

#signUpForm #login-dropdown-list {
  display: block;
}



/* Hides the toggle that you click on */

#signUp a.dropdown-toggle {
  display: none;
}

.content{ background: #FFF; }
.title_link{
  font-size: 15px;
  vertical-align: 4px;
}

a{
text-decoration: none;
color: #436690;
}
